header{
    text-align: center;
}

section{
    text-align: center;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

footer{
    text-align: center;
    padding-top: 20%;
}